{
	"discord_secrets": {
		"token": "discordBotToken",
		"clientId": "discordBotApplicationId",
		"guildId": "serverId",
		"ownerId": "serverOwnerUserId"
	},
	"crafty": {
		"secrets": {
			"url": "e.g https://crafty.com:8443",
			"token": "crafty api token"
		},
		"servers": [
			{
				"name": "server name",
				"id": "server id"
			}
		]
	},
	"wakeOnLan": {
		"enabled": false,
		"macAddress": ""
	},
	"logFolder": "./logs"
}